
<img src="./Images/1672680131949[57].jpg" style="width:50px;height:50px;border-radius:50%"/>
<p style="display:inline; font-weight:bold;color:dodgerblue;">Badescu Florin Narcis</p>
<br />
<br />

<img src="./Images/telefon.png" style="width:50px;height:50px;" />
<a href="tel:017666817453" style="color:dodgerblue;">017666817453</a>
<br />
<br />

<img src="./Images/mailNot.png" style="width:50px;height:50px;" />
<a href="mailto:badescuflorinnarcis1990@gmail.com" style="color:dodgerblue;">badescuflorinnarcis1990@gmail.com</a>
<br />
<br />



@code {
    @code {

    }

}
