<div>
    <h1 style="color:gold">Unsere Geschäftsleitung</h1>
    <PersonCard Name="Muster John" Img="./Images/usermask.png" Function="Geschäftführung" Mail="www.muster@mail.com" Telefon="01764190xxxx"
                Description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. "></PersonCard>
    <PersonCard Name="Muster Lara" Img="./Images/usermask.png" Function="Geschäftführung" Mail="www.muster@mail.com" Telefon="01764190xxxx"
                Description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. "></PersonCard>
    <PersonCard Name="Muster Alina" Img="./Images/usermask.png" Function="Pflegedienstleitung" Mail="www.muster@mail.com" Telefon="01764190xxxx"
                Description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. "></PersonCard>
    <PersonCard Name="Muster Florian" Img="./Images/usermask.png" Function="Geschäftführung" Mail="www.muster@mail.com" Telefon="01764190xxxx"
                Description="Mit frisch gekochter Kost werden unsere Bewohnerinnen und Bewohner vom Küchenteam verwöhnt."></PersonCard>
</div>
