
<div class="chat-element-right">
    <div class="chat-box-empthy"></div>
    <div class="chat-box-right-fill">
        <p class="chat-msj-right-sm chat-msj-right ">@Message?.Content</p>
        <p class="chat-msj-right-date-sm chat-msj-right-date">@Message?.CreatedDate</p>
    </div>
</div>

@code {
    [Parameter]
    public ChatMessageModel? Message { get; set; }
}
