.body-non-scroll {
    overflow-y: hidden;
}



.welcome-container {
    height: 100vh;
    width:100vw;
    position: fixed;
    z-index: 1000;
    padding: 10px;
}

.welcome-container-box {
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height:65vh;
    max-width: 500px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    z-index: 999;
    overflow-y: scroll;
}

@media screen and (max-width:400px){
    .welcome-container-box h1 {
        text-align: center;
        margin-top: 2em;
        font-size: 20px;
        font-weight: bold;
    }

    .welcome-container-box p {
        margin-left: 10px;
        font-size: 10px;
    }
}
@media screen and (min-width:401px) and (max-width:700px) {
    .welcome-container-box h1 {
        text-align: center;
        margin-top: 2em;
        font-size: 20px;
        font-weight: bold;
    }

    .welcome-container-box p {
        margin-left: 10px;
        font-size: 15px;
    }
}
@media screen and (min-width:701px) {
    .welcome-container-box h1 {
        text-align: center;
        margin-top: 2em;
        font-size: 20px;
        font-weight: bold;
    }

    .welcome-container-box p {
        margin-left: 10px;
        font-size: 20px;
    }
}
    .welcome-container-box button {
        position: absolute;
        top: .5em;
        right: .5em;
        border: none;
        background-color: white;
        color: red;
        font-weight: bold;
        font-size: 12px;
    }

        .welcome-container-box button:hover {
            background-color: red;
            color: white;
            border-style: solid;
            border-radius: 10px;
        }



















.mainpage-house-logo {
    width: 100%;
    border-radius: 1px 1px 10px 10px;
    opacity: 0;
    animation: mainpage-house-logo-anim cubic-bezier(.07,.78,.89,1.08) 3s .25s forwards;
}

.mainpage-house-logo-noanima {
    width: 100%;
    border-radius: 1px 1px 10px 10px;
}

.mainpage-house-title {
    text-align: center;
    color: gold;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 50px;
    text-shadow: 5px 4px 5px rgba(0,0,0,.2);
    opacity: 0;
    animation: mainpage-house-logo-anim cubic-bezier(.07,.78,.89,1.08) 2s 1s forwards;
}

.mainpage-house-content {
    opacity: 0;
    animation: mainpage-house-logo-anim cubic-bezier(.07,.78,.89,1.08) 2s 2s forwards;
}

.mainpage-covid-header-container {
    position: relative;
}

.mainpage-covid-img {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 1px 1px 10px 10px;
}

.mainpage-covid-header-title {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainpage-covid-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    color: dodgerblue;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 3px rgba(0,0,0,.3)
}

.mainpage-covid-body-container {
    display: inline-block;
    overflow-y: auto;
    border-style: solid;
    width: 100%;
    scroll-behavior: auto;
}

.mainpage-covid-item {
    display: flex;
    vertical-align: central;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 10px;
}

    .mainpage-covid-item:hover {
        transform: scale(.9);
        color: dodgerblue;
        border-bottom-style: solid;
        border-bottom-color: rgba(25,144,255,.5);
        border-bottom-width: 2px;
        background-color: aliceblue;
        transition: .25s;
    }

.mainpage-covid-item-text {
    margin-top: 10px;
}

.mainpage-covid-limg {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.mainpage-about-title, .mainpage-about-subtitle {
    margin-top: 20px;
    color: gold;
    text-shadow: 2px 2px 2px rgba(255,215,0, .5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainpage-about-p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainpage-login-popup-container {
    position: fixed;
    z-index: 300;
    background-color: rgba(0,0,0,.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.mainpage-login-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-49.5%, -50%);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width:250px;
}

    .mainpage-login-popup img {
        object-fit: cover;
        width: 100px;
    }

.mainpage-login-item {
    margin-top: 10px;
    display: block;
}

    .mainpage-login-item input {
        border-color: dodgerblue;
        border-width: 1px;
        color: dodgerblue;
        width: 90%;
    }

.mainpage-login-popup h1 {
    color: dodgerblue;
}

.mainpage-login-popup-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 3px;
    border-color: red;
    color: white;
    background-color: red;
    transform: scale(.7);
    font-weight: bold;
}

    .mainpage-login-popup-close-btn:hover {
        background-color: white;
        color: red;
        transition: .25s;
    }

.btn-login {
    border-width: 1px;
    border-color: dodgerblue;
    color: dodgerblue;
}

    .btn-login:hover {
        background-color: gold;
    }

@keyframes mainpage-house-logo-anim {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

.zettel-main-container {
    position: fixed;
    width: 300px;
    height: auto;
    right: 0;
    top: 50%;
    background-color: white;
    transform: rotateZ(20deg) translate(60px, 0);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: .5em;
    overflow: hidden;
    transition: .25s;
    z-index: 300;
}

    .zettel-main-container button {
        border: none;
        background-color: white;
        color: red;
    }

    .zettel-main-container h1 {
        text-align: center;
        font-family: 'Comic Sans MS';
        font-size: 30px;
        font-weight: bold;
        color: dodgerblue;
    }

    .zettel-main-container p {
        text-align: center;
        font-family: 'Comic Sans MS';
        font-size: 15px;
        font-style: italic;
        color: dodgerblue;
        color: dodgerblue;
    }

    .zettel-main-container:hover {
        transform: rotateZ(10deg) translate(-10px, 0);
    }

.settings-zettel-container {
    position: relative;
    background-color: white;
    width: 75%;
    height: auto;
    max-width: 750px;
    margin-left: 50%;
    transform: translate(-50%,0);
    margin-top: 1em;
    padding: .5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width:250px;
}

.settings-zettel-media {
    position: absolute;
    bottom: .5em;
    right: .5em;
    background-color: black;
    color: white;
    border-radius: 4px;
    opacity: .75;
    max-width:90%;
    font-size:15px;
}

.settings-zettel-input {
    display: inline-block;
    width: 100%;
    border-color: rgba(100,100,100,.2);
    border-width: 1px;
    border-radius: 3px;
}

.settings-zettel-text {
    width: 100%;
    height: 200px;
    border-color: rgba(100,100,100,.2);
    border-radius: 3px;
}

.settings-zettel-label {
    font-size: 12px;
    font-style: italic;
    opacity: .5;
}

.settings-zettel-header {
    text-align: center;
    font-weight: bold;
    color: dodgerblue;
    text-shadow: 2px 2px 2px rgba(0,0,0, .3);
}

.settings-zettel-btn {
    border-width: 1px;
    border-color: dodgerblue;
    background-color: dodgerblue;
    color: white;
    border-radius: 3px;
}

.settings-zettel-btn2 {
    position: absolute;
    bottom: .5em;
    right: 5.5em;
    border-width: 1px;
    border-color: forestgreen;
    background-color: forestgreen;
    color: white;
    border-radius: 3px;
}

.settings-zettel-btn3, .settings-zettel-btn4 {
    position: absolute;
    bottom: .5em;
    right: .5em;
    border-width: 1px;
    border-color: red;
    background-color: red;
    color: white;
    border-radius: 3px;
}

.settings-zettel-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 200px;
}




.news-mask {
    background-color: black;
    position: absolute;
    top: .5em;
    right: .5em;
    left: .5em;
    height: 3em;
    z-index: 2;
    opacity: .4;
    border-radius: 5px 5px 0px 0px;
}

.news-container {
    background-color: white;
    position: relative;
    margin-left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: .5em;
    margin-top: 1em;
    max-width: 1000px;
    opacity: 0;
    animation: ease-in-out newsAnimation .25s 3.25s forwards;
}

    .news-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        max-height: 500px;
    }

    .news-container button {
        border: none;
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-weight: bold;
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 3;
        transition: .25s;
    }

        .news-container button:hover {
            background-color: white;
            color: red;
            transform: scale(1.1);
        }

.news-container-hide-close {
    display: none;
}

.news-container p {
    font-family: 'Times New Roman'
}

.news-container h2 {
    text-align: center;
    position: absolute;
    top: .5em;
    left: 50%;
    color: white;
    transform: translate(-50%,0);
    z-index: 3;
    font-family: 'Times New Roman';
}

.down-arrow {
    position: fixed;
    left: 50%;
    bottom: 15px;
    animation: ease-in-out downArrowAnim 1.25s 2.5s infinite;
    opacity: 0;
    z-index: 1000;
}



@keyframes downArrowAnim {
    0% {
        transform: none;
        opacity: .2;
    }

    50% {
        transform: translate(0,10px) scale(1.2);
        opacity: 1;
    }

    100% {
        transform: none;
        opacity: .2;
    }
}

.antrag-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,20%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: .5em;
    margin-top: 1em;
    max-width: 50vw;
}

    .antrag-container img {
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .antrag-container select {
        margin-top: 1em;
        border-color: dodgerblue;
        border-color: dodgerblue;
        color: dodgerblue;
    }

        .antrag-container select:active {
            border-color: dodgerblue;
        }

.antrag-container-item {
    width: 100%;
    margin-top: .5em;
    border-color: rgba(25,144,255,.5);
    border-width: 1px;
}

.antrag-container-btn {
    width: 100%;
    margin-top: .5em;
    border-color: dodgerblue;
    border-width: 1px;
    background-color: dodgerblue;
    color: white;
}


@media screen and (max-width:400px){
    .settings-zettel-btn, .settings-zettel-btn3, .settings-zettel-btn4 {
        font-size: 10px;
    }
    .settings-zettel-btn2 {
        font-size:10px;
        margin-right:10px;
    }
    .settings-zettel-media {
        position: absolute;
        bottom: .5em;
        right: .5em;
        background-color: black;
        color: white;
        border-radius: 4px;
        opacity: .75;
        max-width: 90%;
        font-size: 10px;
    }
}

@keyframes newsAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
