<ChatAppServer.Controller.Chat.VideoHeaderComponent></ChatAppServer.Controller.Chat.VideoHeaderComponent>
<h1 class="mainpage-about-title">Über uns...</h1>
<ul>
    <li>
        <div>
            <h3 class="mainpage-about-subtitle">Unser Pflegemodell</h3>
            <p class="mainpage-about-p">
                In unserem Haus wird das pflegerische Handeln durch ein theoretisches Pflegemodell gestützt. Dabei richten wir uns nach dem Bedürfnismodell der aktivierenden und existenziellen Erfahrungen des Lebens (AEDL) nach Monika Krohwinkel.

                In diesem Modell stehen primär die Förderung der Unabhängigkeit und des Wohlbefindens der pflegebedürftigen Person im Vordergrund. Unabhängig von Prognose oder Gesundheitszustand der Menschen sollen die Fähigkeiten der pflegebedürftigen Person erhalten oder wiedererlangt werden. Kann der Mensch dies nicht mehr selbst, übernimmt die Pflegekraft Verantwortung und tut stellvertretend das, was der hilfebedürftige Mensch selbst tun würde, wenn er das Wissen, den Willen und die Kraft dazu hätte.

                Alle Aktivitäten und existenziellen Erfahrungen des Lebens sind aufeinander bezogen und stehen in Wechselwirkung zueinander. Eine ganzheitliche Sichtweise des Menschen wird vorausgesetzt, die bei der Pflege zu beachten ist.
            </p>
        </div>
    </li>
    <li>
        <div>
            <h3 class="mainpage-about-subtitle">Unser Menschenbild</h3>
            <p class="mainpage-about-p">
                In unserem Menschenbild sehen wir den alten und hilfebedürftigen Menschen als Einheit von Körper, Geist und Seele, der in seiner Einzigartigkeit geprägt ist durch seine historische, gesellschaftliche und persönliche Biografie.

                Wir betrachten den Menschen somit als eine handelnde, selbstbestimmende und eigenverantwortliche Persönlichkeit, deren Wünsche, individuellen Bedürfnisse und Gewohnheiten innerhalb der institutionellen Rahmenbedingungen berücksichtigt, unterstützt und gefördert werden sollen.

                Wir achten die Würde des Menschen auch dann, wenn ihm die Fähigkeit zur freien Selbst- und Lebensgestaltung fehlt. Der Anspruch auf Teilhabe an der Gesellschaft, das Recht auf individuellen und selbstbestimmten Rückzug, Wahlfreiheit der angebotenen Leistungen sowie Selbstbestimmung stehen im Vordergrund.
            </p>
        </div>
    </li>
    <li>
        <div>
            <h3 class="mainpage-about-subtitle">Bewohnerbeirat</h3>
            <p class="mainpage-about-p">
                Jeder Bewohner hat das Recht, bei der Gestaltung des Lebens im PflegeCentrum Sonnenschein mitzuwirken.

                Zur Unterstützung steht ein Bewohnerbeirat zur Verfügung, der alle 2 Jahre gewählt wird. In Kooperation mit Geschäftsleitung und Einrichtungsleitung vertritt er die Interessen der Bewohner.

                Gemeinsam mit Bewohnern wird somit versucht, alle individuellen Wünsche zu berücksichtigen, um das Wohnen im PflegeCentrum noch angenehmer zu gestalten.
            </p>
        </div>
    </li>
</ul>
@code {

}
