<h3>AntragComponent</h3>



@if (_person is not null)
{
    <ViewAntragComponent></ViewAntragComponent>
}
else
{
    <WriteAntragComponent></WriteAntragComponent>
}




@code {
    private PersonModel? _person;
    public async Task Reload(PersonModel model)
    {
        _person = model;
        await InvokeAsync(() => StateHasChanged());
    }
}
