<div>
    <div class="mainpage-covid-header-container">
        <img class="mainpage-covid-img" src="./Images/covid-banner.jpg" />
        <h1 class="mainpage-covid-header-title">
            CORONA COVID-19
            <br />
            <span style="font-size:15px;font-style:italic;">Haus-interne-Regeln</span>
        </h1>
    </div>
    <div>
        <h1 class="mainpage-covid-title">Liebe Angehörige , liebe Besucher</h1>
        <div class="mainpage-covid-item">
            <img class="mainpage-covid-limg" src="./Images/time.png" />
            <p class="mainpage-covid-item-text">Besuche sind von Montag bis Sonntag von 9 bis 12 Uhr und von 14 bis 18 Uhr möglich. <span style="font-weight:bold;color:red;">Bitte klingeln Sie!</span></p>
        </div>
        <div class="mainpage-covid-item">
            <img class="mainpage-covid-limg" src="./Images/hand-hygiene.png" />
            <p class="mainpage-covid-item-text">Bitte vor und nach Betreten des Einrichtungs Hände desinfizieren !</p>
        </div>
        <div class="mainpage-covid-item">
            <img class="mainpage-covid-limg" src="./Images/abstand.webp" />
            <p class="mainpage-covid-item-text">Bitte 1,5m Abstand einhalten !</p>
        </div>
        <div class="mainpage-covid-item">
            <img class="mainpage-covid-limg" src="./Images/mask-icon.jpg" />
            <p class="mainpage-covid-item-text">Eine FFP2 Maske ist zu tragen !</p>
        </div>
        <div class="mainpage-covid-item">
            <img class="mainpage-covid-limg" src="./Images/vaccin.png"/>
            <p>Besucher dürfen die Einrichtungen betreten , wenn sie geimpft , genesen oder getestet sind<br /><span style="font-style:italic;color:dodgerblue;text-decoration:underline;">Testungen werden vor Ort durch Mitarbeiter der Einrichtung durchgeführt.</span></p>
        </div>
        <div class="mainpage-covid-item">
            <img class="mainpage-covid-limg" src="./Images/covid-test2.png" />
            <p class="mainpage-covid-item-text">Besucher , die ungeimpft sind , müssen einen Schnelltest vorweisen <span style="color:red; font-weight:bold;">(nicht älter als 24 Stunden)</span> !</p>
        </div>
        <div class="mainpage-covid-item">
            <img class="mainpage-covid-limg" src="./Images/walk.jpg" />
            <p class="mainpage-covid-item-text">Spaziergänge sind ohne Anmeldung jederzeit möglich !</p>
        </div>
        <p style="text-align:center;margin-top:10px;">Vielen Dank für ihre Unterstützung<br />Ihr Team PflegeCentrum Sonnenschein- Stand 22.09.2022</p>
    </div>
</div>

@code {

}
