<ChatAppServer.Controller.Chat.VideoHeaderComponent></ChatAppServer.Controller.Chat.VideoHeaderComponent>
<h1 class="mainpage-house-title">Willkommen</h1>
<div class="mainpage-house-content">
    <p>
        Das PflegeCentrum Sonnenschein ist eine privat gewerbliche Einrichtung und wird seit 2002 durch die Familie Benkenstein geführt. In familiärer und liebevoller Atmosphäre pflegen und betreuen wir Sie rund um die Uhr.

        Wir sind Mitglied im Bundesverband privater Alten- und Pflegeheime e.V. (BPA).

        Gerne informieren wir Sie auf diesen Seiten über unser Haus und geben Ihnen einen kurzen Auszug aus unserem Leistungsspektrum:
        <ul>
            <li>Pflege und Betreuung für alle Stufen der Pflegebedürftigkeit</li>
            <li>Zahlreiche, hausinterne Veranstaltungen wie Chorgesang, Tanzveranstaltungen etc. durch unsere soziale Betreuung</li>
            <li>enge Zusammenarbeit mit der evangelischen und katholischen Kirche (Gottesdienste)</li>
            <li>Hauswirtschaftsservice</li>
            <li>Mobile Pflege</li>
        </ul>
        Wir freuen uns auf Sie!
        <br />
    <p style="margin-left:30px;">Ihre Familie <span style="font-weight:bold; color:dodgerblue;font-size:20px;">Benkenstein</span></p>
    </p>
</div>
@code {

}
