<ChatAppServer.Controller.Chat.VideoHeaderComponent></ChatAppServer.Controller.Chat.VideoHeaderComponent>
<h1 class="mainpage-about-title">Mobilepflege...</h1>
<p>
    Zur Unterstützung unserer stationären Pflege steht Ihnen unsere häusliche ambulante Pflege rund um die Uhr zur Verfügung.

    Wir versorgen Sie gern in Ihren privaten Räumlichkeiten. Unser Leistungsangebot entnehmen Sie bitte dem Unterpunkt Leistungen.

    Für weitere Fragen steht Ihnen unsere Pflegedienstleitung Frau Schrumpf gern zur Verfügung.

    Mobile Pflege
    Katharina Schrumpf
    Pflegedienstleitung
    Bahnhofsplatz 1
    99834 Gerstungen

    Telefon: 036922-414156

    Telefax: 036922-414444

    Email: mobile@pflege-centrum-sonnenschein.de
</p>
<p>
    In unserer mobilen Pflege arbeitet ein Team engagierter und flexibler Mitarbeiter. Die qualifizierten Fachkräfte – Altenpflegerinnen/ Altenpfleger und Krankenschwestern – stehen Ihnen rund um die Uhr zur Verfügung.

    Unterstützt wird unser geschultes Fachpersonal durch Pflegehelferinnen, um Ihnen eine bestmögliche und allumfassende Betreuung zu garantieren. Durch Fort- und Weiterbildungsmaßnahmen werden die Qualifikationen der Mitarbeiter ständig auf dem neuesten Stand gehalten.
</p>
<p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    Unsere Leistungen in der mobilen Krankenpflege beinhalten:
    <ul>
        <li>Grundpflege nach SGB XI</li>
        <li>Behandlungspflege nach SGB V</li>
        <li>Hauswirtschaftliche Versorgung</li>
        <li>Pflegeeinsätze nach § 37 SGB XI</li>
        <li>Urlaubs- und Verhinderungspflege</li>
        <li>Angehörigenbetreuung</li>
        <li>Hilfe bei Antragstellung der Pflegestufe</li>
        <li>Besorgung von Pflegehilfsmitteln</li>
        <li>Mobiler Mittagstisch aus hauseigener Küche</li>
        <li>Bereitschaftsdienst - 24 Stunden –</li>
        <li>Qualifiziertes Fachpersonal</li>
    </ul>
    Zusammenarbeit mit:

    • Hausärzten, Wundmanagern, Sanitätshäusern, Apotheken und dem stationären PflegeCentrum Sonnenschein
</p>

@code {

}
