



<div class="person-card-sm person-card-md person-card-lg">
    <div class="person-card-top">
        <img class="person-card-img-sm person-card-img-md person-card-img-lg" src="./Images/1672680131949[57].jpg" />
        <div class="person-card-score">
            <div class="person-card-score-item">
                <img class="person-card-score-img" src="./Images/staricon.png" />
                <p>1000</p>
            </div>
            <div class="person-card-score-item">
                <img class="person-card-score-img" src="./Images/staricon.png   " />
                <p>250124500</p>
            </div>
        </div>
    </div>
    <div class="person-card-text ">
        <p class="person-card-title">Florin Badescu</p>
        <p class="person-card-title-info">33 years old male</p>
        <hr />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolorem harum explicabo obcaecati. Mollitia, optio, quos ea, eligendi iusto aut dolore necessitatibus earum ut porro veritatis delectus atque aliquid sapiente?</p>
    </div>
    
</div>

@code {

}
