@using GhostLibrary.Models;
<div class="sidebar-secondary-container">
    @foreach (var item in Models)
    {
        <ChatAppServer.Controller.Chat.ChatComponent Chat="item" InovkeOnMainPage="@InovkeOnMainPage"></ChatAppServer.Controller.Chat.ChatComponent>
        
    }
</div>










@code {
    [Parameter]
    public EventCallback<ChatModel> InovkeOnMainPage { get; set; }
    [Parameter]
    public EventCallback<ChatModel> OnChatSelect { get; set; }
    private List<ChatModel> _models = new();
    [Parameter]
    public List<ChatModel> Models
    {
        get => _models;
        set
        {
            _models = value;
        }
    }
    public async void AddToList(List<ChatModel> models)
    {
        _models.AddRange(models);
        await InvokeAsync(() => StateHasChanged());
    }
    private async Task DownloadPerson(ChatModel model)
    {

    }
    private async Task SelectChat(ChatModel model)
    {
        await OnChatSelect.InvokeAsync(model);
        //TODO - get coockie person id and download target person inject into chatcomponent
    }
}
