<div>
    <h1 style="color:gold">Unsere Geschäftsleitung</h1>
    <PersonCard Name="Margin Benkenstein" Img="./Images/benkenstein.jpg" Function="Geschäftführung" Mail="www.margit@mail.com" Telefon="017641901077"
                Description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. "></PersonCard>
    <PersonCard Name="Hans-Peter Benkenstein" Img="./Images/benkenstein.jpg" Function="Geschäftführung" Mail="www.margit@mail.com" Telefon="017641901077"
                Description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. "></PersonCard>
    <PersonCard Name="Katharina Schrumpf" Img="./Images/katharina.jpg" Function="Pflegedienstleitung" Mail="www.margit@mail.com" Telefon="017641901077"
                Description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. "></PersonCard>
    <PersonCard Name="Kristina Öhrlich" Img="./Images/kristina.jpg" Function="Geschäftführung" Mail="www.margit@mail.com" Telefon="017641901077"
                Description="Mit frisch gekochter Kost werden unsere Bewohnerinnen und Bewohner vom Küchenteam verwöhnt."></PersonCard>
</div>
